@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oswald:wght@600&display=swap');

body {
   background-color: rgb(41,41,41);
}
.heading {
  margin-top: 40px;
  text-align: center;
}
.heading h1 {
  color: white;
  font-size: 60px;
}
.heading h2 {
  color: #ff005d;
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  
}
.para {
  position: absolute;
  top: 30%;
  left: 55%;
  font-size: 40px;
  text-align: center;
  color: aliceblue;
}