@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oswald:wght@600&display=swap');
* {
    margin: 0;  
    padding: 0;
}
body {
    background-image: url('jkk.png');
    
    background-repeat: no-repeat;
    background-size: cover;
}
.n {
    /*bosx-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
       overflow: hidden;
     
       height: 200px;
       position: sticky;
   }
   .n a, li {
       float: right;
    text-shadow: 4px  4px  4px #000;
      margin-top: 7px;
      border-width: 2px;
       text-align: center;
       list-style-type: none;
       padding: 18px 28px;
       align-items: center;
       font-weight: bolder;
       font-size: 53px;
       color: white;
       
       text-decoration: none;
        font-family: 'Josefin Sans', sans-serif; 
       
   }
   .n a:hover {
    /*color: black;
   border-radius: 8px;
   background-color: #08ff41;*/
   color: #ff005d;
   text-shadow: 4px  4px  4px #000;

    border-bottom: 3px solid #ff005d;
    transition: 0.3s ;
} 
.main {
    
    position: absolute;
    top: 25%;
    left: 7%;
    border: none;
    color: wheat;
    size: 50px;
    
} 
.main .hello {
    text-shadow: 4px  4px  4px #000;

 font-size: 66px;
 color: white;   
 font-family: century;
}
.main .name {
    text-shadow: 4px  4px  4px #000;
    font-size: 66px;  
    font-family: century;
    color: #ff005d; 
}
.main .oc {
    font-size: 55px; 
    color: rgb(199, 199, 199); 
    font-family: 'Josefin Sans', sans-serif;
}
.click {
    border: 4px solid #ff005d;
    width: 270px;
    border-radius: 12px;
    padding: 13px;
    font-size: 50px;
    
}
.click a {
    text-decoration: none;
   color: #ff005d;
}
.click a:hover {
   opacity: 75%;
  
}

.icon {
    position: absolute;
    top: 75%;
    left: 5%;
    padding: 18px 20px;
    display: inline-block;
}
.icon li a {
    color: white;
}
.icon li a:hover {

 transition: 0.4s;
 color: #ff005d;
}