/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oswald:wght@600&display=swap');
body{
 background-color: black;
 
}

.h {
   
    text-align: center;
    margin: 90px auto;
}
.h .head {
 color: white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 65px;
  
}
.h .head2 {
    color: #ff005d;
 font-size: 35px;
 font-family: 'Josefin Sans', sans-serif; 
    
} */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oswald:wght@600&display=swap');

body {
    background-color: rgb(41, 41, 41); 

}
.container {
    position: absolute;
    top: 40%;
    left: 27%;
    width:1270px;
    height:500px;
  color: aliceblue;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
}
#st-box {
  margin-right: 29px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 50px 4px;
    float: left;
    width:380px;
    height: 440px;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
  background-color: rgb(31, 31, 31);

}
#nd-box {
  margin-left: 29px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 50px 4px;
      margin: 0 auto; 
      display: inline-block;
    width:380px;
    height:440px;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
  background-color: rgb(31, 31, 31);
    
}
p {
  font-size: 29px;
}
i {
  margin-top: 10px;
  color: #ff005d;
}
#rd-box {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 50px 4px;
    float:right;
    width:380px;
    height:440px;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    margin-left: 29px;
  background-color: rgb(31, 31, 31);
     
    
 
}
.container h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
 
 
}
.head {
  text-align: center;
}
.head h1 {
  font-size: 60px;
  color: white;
}
.head h3 {
   font-size: 30px;
   color: #ff005d;
  font-family: 'Josefin Sans', sans-serif;

}





