@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oswald:wght@600&display=swap');

*{
    list-style-type: none;
    padding: 0;
    margin:0;
}
body {
    background-color: rgb(41, 41, 41); 
   /* background-image: url('jkk.png'); */
   background-size: cover;
   background-repeat: no-repeat;
}

.head {
    margin-top: 75px;
    color: white;
    font-size: 60px;

}
.he {
    color: #ff005d;
    font-family: 'Josefin Sans', sans-serif;
margin-top: 29px;

}
h1 {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
    margin-bottom: 5px;
}
h3 {
    margin: 5px;
    color: white;
    font-size: 35px;
}
.skillset{
    width: 500px;
    margin: 60px auto;
  padding: 20px;  
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: absolute;
  top: 25%;
  border-radius: 12px;
  background-color: rgb(31, 31, 31);
  left :10%;
    
}
.skillset li {
    margin :20px 0;
    padding: 10px;
}
.skillset h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
}
 .skillset .bar {
  background: #353b48;  
display: block;
height: 20px;
overflow: hidden;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 12px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0, 0, 0, 0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.skillset .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22),0 1px 2px rgba(0, 0, 0, 0.12);
}
.skillset .bar span {
    height: 20px;
    float: left;
    background: #ff005d;
}
  .html {
    width: 85%;
    animation: html 3s;
}
.css {
    width: 87%;
    animation: css 3s;
}
.js {
    width: 10%;
    animation: js 3s;
}
.cpp {
    
    width: 90%;
    animation: cpp 3s;
}
.photo {
    width: 20%;
    animation: photo 3s;
}
@keyframes html{
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}
@keyframes css{
    0% {
        width: 0%;
    }
    100% {
        width: 87%;
    }
}
@keyframes js{
    0% {
        width: 0%;
    }
    100% {
        width: 10%;
    }
}
@keyframes cpp{
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes photo{
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}
.vl {
    
   border-radius: 20px;
    border-left: 8px solid #ff005d;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 35%;
  margin-left: -3px;
  
}
h2 {
   padding-bottom: 9px;
    color: white;
    font-size: 50px;
    display: inline-block;
    border-bottom: 5px solid #ff005d;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.work {
    text-align: center;
    
    position: absolute;
    top: 32%;
    padding: 12px;
    left: 56%;

}
.work p {
    margin-top: 10px;
    color: white;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
